@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    /* Apply Garamond Libre as the base font for everything */
    html,
    body {
        @apply font-garamond h-full;
    }

    /* Apply Didot to all headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-didot;
    }
}
